/* src/pages/Home.module.css */
.home {
  padding: 20px;
}

.movieList {
  list-style-type: none;
  padding: 0;
}

.movieList li {
  margin: 10px 0;
}

.movieList a {
  text-decoration: none;
  color: blue;
  font-weight: bold;
}

.movieList a:hover {
  text-decoration: underline;
}
